{% extends 'base.html' %}


{% block content %}
    {% load crispy_forms_tags %}

    <h2 class="card-title">Flower</h2>


    <div class="jumbotron">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <button type="submit">Upload file</button>
        </form>
        {% if url %}
            <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>

            <p>Image quality assessment: {{ result }}</p>

            <p>The lower the number, the better</p>

            <img src="{{ url }}">
            <p>Predicting this->{{ predict }}</p>
            <p>Accuracy in percentage: {{ percent }}</p>

        {% endif %}
        {{ error_text }}
        {{ no_file }}
    </div>
{% endblock %}


